/*reponsive header*/
        @media screen and (min-width: 1024px) {
            .nav-logout1 {
                display: none;
            }
        }

        @media screen and (min-width: 740px) and (max-width: 1023px) {
            .drop-logout {
                display: none;
            }

            .nav-logout1 {
                display: block;
            }
        }

        @media screen and (max-width:740px) {
            .drop-logout {
                display: none;
            }

            .nav-logout1 {
                display: block;
            }
        }
  