body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
}
.logo-img{width: 70px;height: 100%;}
.bgroud-orange{ background-color: darkturquoise;}
.warpper{ background: linear-gradient( bottom, #ffffff 3%, #ffffff 89%to);}
.cur-point{cursor: pointer ;

}

.img-infomation{width: 150px;}
.card-trantion:hover .card-img-top {

transition-duration: .3s;
transition-property: transform;
transition-timing-function: ease-out;
transform: translateY(-8px);
}
.card-trantion:hover{box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);}

a{
    
    text-decoration: none;
}

























