body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.logo-img{width: 70px;height: 100%;}
.bgroud-orange{ background: linear-gradient(to bottom, #0066ff 0%, #3399ff 100%);}
